*{
    text-align: center;
}
#body{
    display: flex;
    justify-content: center;
}

#square-divs{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    justify-content: center;
    align-items: center;
}

#reinitialiserTableau{
    width: 100px;
    height: 20px;
    background-color: rgb(28, 223, 230);
    border-color: white;
}

.carre{
    border-width: 0px;
    background-color: rgb(73, 100, 122);
    border-style: solid;
}

.bouttonOnClick{
    background-color: aqua;
}
#body{
    border-color: black;
    border-width: 1px;
    height: 485;
    width: 485;
}